body {
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    color: #3E3E3E;
    background: #94C5EB url(../images/background-grad.png) repeat-x;
    font-size: 12px;
}

p{
    font-family: Arial,sans-serif;
    font-size:20px;
}

a {
    color: blueviolet;
    font-size: 125%;
}

#container{
    margin:0 auto;
    text-align: left;
    width: 650px;
}
#content{
    background-color: #fff;
    padding: 0 15px 10px 15px;

} 

h2 {
    border-bottom:2px solid #015287;
    color: #D15600;
    padding-top: 10px;
    margin-top: 0;
}





